html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    align-items: center;
    display: flex;
    justify-content: center;
    animation:color 12s easw-in-out infinite;
}
@keyframes color{
    0%{
        background-position:0 50%
    }
    50%{
        background-position: 100% 50%;
    }
    0%{
        background-position: 0 50%;
    }
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 350px;
    /* width: 320px; */
    height: 600px;
}
.wrapper {

    background-color: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    width: 320px;
    height: 540px;
    padding: 20px 35px;
}


.screen {
    height: 100px;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.view{
    /* background-color: gray; */
    height: 50px;
    color: gray;
    font-size: 25px;
    overflow: 20px;
    padding: 10px 20px;
    text-align: left;
    width: 100%;
    word-wrap: break-word;
}
.ans{
    color: #232323;
    font-size: 35px;
    overflow: 20px;
    padding: 0px 20px;
    text-align: right;

    width: 100%;
    word-wrap: break-word;
}

.cal-button-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.cal-button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(225, 225, 225, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    columns: #232323;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

.cal-button:last-child,.point,.sqr {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background-color: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(225, 225, 225, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
}

.double{
    flex-basis: 45%;
}